
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<script src={{ url_for('admin.static', filename="tags.js") }}></script>
<h1>Projects</h1>
<div class="projects">
	{% for project in projects %}
	<div class="card" style="width: 18rem; height: fit-content;">
		<img src={{ url_for('admin.images', filename=project.image) }} class="card-img-top" alt="{{ project['title'] }}">
		<div class="card-body">
			<h5 class="card-title">{{ project["title"] }}</h5>
			<p class="card-text">{{ project["description"] }}</p>
			{% for tag in project["tags"] %}
			<span class="badge rounded-pill bg-primary">{{ tag }}</span>
			{% endfor %}
			<hr/>
			<a href={{ project["source"] }} class="btn btn-primary">Source Code</a>
			<a href={{ project["demo"] }} class="btn btn-primary">Demo</a>
			<hr/>
			<a href={{ url_for('admin.delete_project', id=project["id"]) }}
			   class="btn btn-primary">Delete</a>
		</div>
	</div>
	{% else %}
	<p class="alert alert-secondary" role="alert">No projects added yet.</p>
	{% endfor %}
</div>
<h2>Add a Project</h2>
<script src={{ url_for('admin.static', filename="tags.js") }}></script>
<form action={{ url_for('admin.add_project') }} enctype="multipart/form-data"
	  method="post" class="login-form">
	<div class="input-group m-3">
		<span class="input-group-text">Title: </span>
		<input name="title" required type="text" class="form-control" />
	</div>
	<div class="input-group m-3">
		<span class="input-group-text">Description: </span>
		<textarea name="description" required type="password" class="form-control"></textarea>
	</div>
	<div class="m-3" id="tagform">
	  <label class="input-group-text">Tags: </label>
	  <ul id="tags" class="taglist">
	  </ul>
	  <div>
		  <input id="new-tag" type="text"/>
		  <button type="button" class="btn btn-primary" onclick="addTag();">Add Tag</button>
	  </div>
	</div>
	<div class="input-group m-3">
		<span class="input-group-text">Image: </span>
		<input name="image" required type="file" class="form-control" />
	</div>
	<div class="input-group m-3">
		<span class="input-group-text">Source code: </span>
		<input name="source" type="url" class="form-control" />
	</div>
	<div class="input-group m-3">
		<span class="input-group-text">Demo URL: </span>
		<input name="demo" type="url" class="form-control" />
	</div>
	<button type="submit" class="btn btn-outline-success mb-3">Add Project</button>
</form>
{% endblock %}
